<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gradutionthsis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_test"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_test_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradutionThsis">
        <activity android:name=".InitializationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.KnowledgeActivity" />
        <activity android:name=".activity.DetailInjectionActivity"
            android:parentActivityName=".activity.TabRelativeActivity"/>
        <activity android:name=".activity.NotifyActivity" />
        <activity android:name=".activity.EditHealthActivity" />
        <activity android:name=".activity.ListHealthActivity" />
        <activity android:name=".activity.GrowthChartActivity" />
        <activity
            android:name=".activity.TabRelativeActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activity.EditRelativeActivity" />
        <activity
            android:name=".activity.AddHealthActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activity.VaccineActivity" />
        <activity android:name=".activity.AddRelativeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.VerifyOTPActivity" />
        <activity
            android:name=".activity.SendOTPActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- Điều chỉnh nhập của bàn phím -->
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>